<h2>Messages</h2>
<div class="row">
  <div id="status"></div>
</div>
<div id="messages" class="container">
  <%= for message <- @messages do %>
    <p><%= message.content %></p>
  <% end %>
</div>
<div class="row container" id="footer">
  <input id="message-input" class="form-control" />
</div>
